

/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}



/* Jumbotron Harga
.jumbotron-harga {
    background: url(../img/jumbotron-harga.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron-harga::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron-harga .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron-harga .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron-harga .display-4 span {
    font-weight: 500;
} */



/* Info Panel */
.info-panel {
    background-color: white;
    padding: 30px;
    margin-top: -120px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

.info-panel p {
    font-size: 14px;
    font-weight: lighter;
    color: #acacac;
}



/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
}


/* Testimonial */
.testimonial {
    margin-top: 130px;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial .img-main {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}



/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 5em;
        margin-top: 150px;
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }

}


.pricing-card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0,0,0,0.15);
}

.pricing-card.featured {
  background: #e8f7ff;
  border-top: 4px solid #17a2b8;
}

.harga {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 10px 0;
}

.jumbotron-harga {
  background: url(../img/jumbotron-harga.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 150px;
}

.jumbotron-harga::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%; /* adjust strength */
  background: linear-gradient(
    rgba(0,0,0,0.65), 
    rgba(0,0,0,0)
  );
  pointer-events: none;
}
